.topbar {
    background-color: rgba(0,0,0,0.02);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 8px;
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
    backdrop-filter: blur(10px);
}

.pagetitle {
    margin: 0.2em 0 0.2em 0.2em;
}

.fab {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

.fab:hover {
    opacity: 0.7;
}

.fa-github {
    color: #171515;
}

.links {
    margin-right: 0.2em;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3em;
}

img {
    margin-left: 2em;
    max-width: 15%;
    border-radius: 50%;
}

.maincontainer {
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

.contentcontainer {
    margin-top: 1em;
    width: 95%;
    background-color: rgba(0,0,0,0.02);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
    padding: 1em;
    margin-bottom: 2em;
}

.header1 {
    margin-left: 1em;
}

.introdiv {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom: 1em;
    justify-content: start;
}

.introdivcontainer {
    display: flex;
    justify-content: center;
}

.infocontainer {
    margin-left: 2em;
    margin-right: 2em;
}

#introduction, #age  {
    display: inline;
}

@media only screen and (max-width: 600px) {
    img {
        margin-left: 30%;
        max-width: 40%;
        border-radius: 50%;
        margin-bottom: 1em;
    }
    .infocontainer {
        margin-left: 1em;
        margin-right: 1em;
    }
  }

  @media only screen and (max-width: 400px) {
    img {
        margin-left: 15%;
        max-width: 60%;
        border-radius: 50%;
        margin-bottom: 1em;
    }
    .infocontainer {
        margin-left: 1em;
        margin-right: 1em;
    }
  }